<!-- Base Screen -->

<!--
  I will use Angular Material to construct stuff.
  Will be using <div> as the wrapping structure.
-->


<!-- Header -->
<div id="header" class="container-fluid font">
  <!-- Should serve as a link to the home screen, but will be empty for now. -->
  <a>
    <h3>Mili Mock Website</h3>
  </a>

  <!-- Navigational List -->
  <!-- This should mainly be for the various albums & such. -->
  <div>
    <ul>
      <!-- Mag Mell -->
      <li>
        <a>
          <button mat-flat-button class="button" color="primary">
            Mag Mell
          </button>
        </a>
      </li>

      <!-- Miracle Milk -->
      <li>
        <a>
          <button mat-flat-button class="button" color="primary">
            Miracle Milk
          </button>
        </a>
      </li>

      <!-- Hue -->
      <li>
        <a>
          <button mat-flat-button class="button" color="primary">
            Hue
          </button>
        </a>
      </li>

      <!-- Millennium Mother -->
      <li>
        <a>
          <button mat-flat-button class="button" color="primary">
            Millennium Mother
          </button>
        </a>
      </li>

      <!-- Project Moon -->
      <li>
        <a>
          <button mat-flat-button class="button" color="primary">
            Project Moon
          </button>
        </a>
      </li>

      <!-- Singles -->
      <li>
        <a>
          <button mat-flat-button class="button" color="primary">
            Singles
          </button>
        </a>
      </li>

      <!-- Others -->
      <li>
        <a>
          <button mat-flat-button class="button" color="primary">
            Others
          </button>
        </a>
      </li>
    </ul>
  </div>
</div>


<!-- Router Outlet -->
<router-outlet></router-outlet>


<!-- Footer -->
<div id="footer" class="container-fluid font">
  <mat-card class="mili-main background primary">
    <mat-card-content>
    <!-- This will be a list of links to Mili stuff. -->
    <h3>Mili Links:</h3>
    <div class="row">
      <div class="col">
        <a href="https://www.youtube.com/ProjectMili">
          Youtube
        </a>
      </div>
      <div class="col">
        <a href="https://twitter.com/ProjectMili">
          Twitter
        </a>
      </div>
      <div class="col">
        <a href="https://www.projectmili.com/">
          Website
        </a>
      </div>
      <div class="col">
        <a href="https://open.spotify.com/artist/0K05TDnN7xPwIHDOwD2YYs">
          Spotify
        </a>
      </div>
      <div class="col">
        <a href="https://project-mili.bandcamp.com/">
          Bandcamp
        </a>
      </div>
    </div>
    </mat-card-content>
  </mat-card>
</div>
