<!-- Base Screen -->

<!--
  I will use Angular Material to construct stuff.
  Will be using <div> as the wrapping structure.
-->


<!-- Header -->
<div id="header" class="container-fluid mili-main background primary">
  Mili Mock Website
</div>


<!-- Router Outlet -->
<router-outlet></router-outlet>


<!-- Footer -->
<div id="footer" class="container-fluid mili-main background primary">
  <mat-card class="mili-main background primary">
    <mat-card-content>
    <!-- This will be a list of links to Mili stuff. -->
    <h3>Mili Links:</h3>
    <div class="row">
      <div class="col">
        <a href="https://www.youtube.com/ProjectMili">
          Youtube
        </a>
      </div>
      <div class="col">
        <a href="https://twitter.com/ProjectMili">
          Twitter
        </a>
      </div>
      <div class="col">
        <a href="https://www.projectmili.com/">
          Website
        </a>
      </div>
      <div class="col">
        <a href="https://open.spotify.com/artist/0K05TDnN7xPwIHDOwD2YYs">
          Spotify
        </a>
      </div>
      <div class="col">
        <a href="https://project-mili.bandcamp.com/">
          Bandcamp
        </a>
      </div>
    </div>
    </mat-card-content>
  </mat-card>
</div>
