// Setting up an Angular Material Theme Mixin.
@use '~@angular/material' as mat;

// Import Themeing:
@import '~@angular/material/theming';

// Include Material Core:
@include mat.core();


// Mixin for Mili Main:
@mixin mili-main($mili-main-theme)
{
  // Obtain the palettes(?).
  $p: map-get($mili-main-theme, primary);
  $a: map-get($mili-main-theme, accent);

  // Obtain the colours.
  $primary: mat.get-color-from-palette($p, 'white');
  $accent: mat.get-color-from-palette($a, 'colour');

  // Defining Style:
  .mili-main {
    // Colour:
    .colour {
      .primary {
        color: $primary;
      }
      .accent {
        color: $accent;
      }
    }
    // Background:
    .background {
      .primary {
        background-color: $primary;
      }
      .accent {
        background-color: $accent;
      }
    }
  }
}
